<body class="HolyGrail">
<header><app-header></app-header></header>
<div class="HolyGrail-body">
  <main class="HolyGrail-content">
    <app-countdown></app-countdown>
    <h4>Am I Registered?</h4>
    <app-check-if-registered></app-check-if-registered>
    <h4>How Do I Register?</h4>
    <app-registration-options></app-registration-options>
    <h4>How Can I Vote?</h4>
    <app-go-vote></app-go-vote>
    <h4>Who Am I Voting For?</h4>
    <app-choose-candidates></app-choose-candidates>
  </main>
  <nav class="HolyGrail-nav">…</nav>
  <aside class="HolyGrail-ads">…</aside>
</div>
<footer><app-footer></app-footer></footer>
</body>
