.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.flex-item {
  margin: 1em;
  min-width: 17em;
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    align-items: flex-start;
  }
}
