<div class="flex">
  <div class="card flex-item" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-check-square-o" aria-hidden="true"></i>
        &nbsp;&nbsp;Vote Now
      </h5>
      <p class="card-text">Early voting is available right now!</p>
      <a href="https://www.champaigncountyclerk.com/elections/early-voting" target="_blank" class="btn btn-block btn-outline-primary">
        Find Early Voting Locations
      </a>
    </div>
  </div>
  <div class="card flex-item" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-envelope-o" aria-hidden="true"></i>
        &nbsp;&nbsp;Vote By Mail
      </h5>
      <p class="card-text">X days left to vote through the mail</p>
      <a href="https://champaigncountyclerk.com/elections/vote-by-mail-reside" target="_blank" class="btn btn-block btn-outline-primary">Request Absentee Ballot</a>
    </div>
  </div>
  <div class="card flex-item" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        &nbsp;&nbsp;Vote at Polling Place
      </h5>
      <p class="card-text">November 6th is my favorite date</p>
      <a href="https://ova.elections.il.gov/PollingPlaceLookup.aspx" target="_blank" class="btn btn-block btn-outline-primary">Polling Place Lookup</a>
    </div>
  </div>
</div>
