<div class="ui-g outer">
  <div class="ui-g-3 eventTracker" *ngFor="let event of events">
    <pm-event-tracker
      [date]="event.date"
      [label]="event.label"
      [url]="event.url"
    ></pm-event-tracker>
  </div>
  <hr>
  <div class="ui-g-12">
    <div class="ui-g-12"  *ngFor="let election of electionList">
      <div class="ui-g-12"  *ngFor="let card of election.cards">
        <pm-candidate-card
          [name]="card.name"
          [pictureUrl]="card.pictureUrl"
          [websiteUrl]="card.websiteUrl"
          [party]="card.party"
        ></pm-candidate-card>
      </div>
    </div>
  </div>
</div>


<!--<button type="button" class="btn btn-primary">Primary</button>-->
<!--<button type="button" class="btn btn-secondary">Secondary</button>-->
<!--<button type="button" class="btn btn-success">Success</button>-->
<!--<button type="button" class="btn btn-danger">Danger</button>-->
<!--<button type="button" class="btn btn-warning">Warning</button>-->
<!--<button type="button" class="btn btn-info">Info</button>-->
<!--<button type="button" class="btn btn-light">Light</button>-->
<!--<button type="button" class="btn btn-dark">Dark</button>-->

<!--<button type="button" class="btn btn-link">Link</button>-->
