.card-vertical-padding {
    padding-top: 1em;
}

.zoom {
    transition: all .3s ease-in-out;
}

.zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}