<p>
  The ballot component goes here
</p>

<div class="ui-g">
  <div class="ui-g-12 card-vertical-padding">
    <app-candidate-card [name]="'Foo'"
                        [party]="'Bar'"
                        [websiteUrl]="'www.google.com'"
                        [imageUrl]="'../../../../../assets/Governor/JB%20Pritzker.jpg'"
    ></app-candidate-card>
  </div>
  <div class="ui-g-12 card-vertical-padding">
    <app-candidate-card [name]="'Foo'"
                        [party]="'Bar'"
                        [websiteUrl]="'www.google.com'"
                        [imageUrl]="'../../../../../assets/Governor/JB%20Pritzker.jpg'"
    ></app-candidate-card>
  </div>
  <div class="ui-g-12 card-vertical-padding">
    <app-candidate-card [name]="'Foo'"
                        [party]="'Bar'"
                        [websiteUrl]="'www.google.com'"
                        [imageUrl]="'../../../../../assets/Governor/JB%20Pritzker.jpg'"
    ></app-candidate-card>
  </div>
</div>