<div class="flex">
  <div class="card flex-item" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-laptop" aria-hidden="true"></i>
        Register Online
      </h5>
      <p class="card-text">X days left to register through the Internet</p>
      <a href="https://ova.elections.il.gov/"
         target="_blank"
         class="btn btn-block btn-outline-primary">Register Online</a>
    </div>
  </div>
  <div class="card flex-item" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-envelope-o" aria-hidden="true"></i>
        Register By Mail
      </h5>
      <p class="card-text">X days left to register through the mail</p>
      <a href="https://champaigncountyclerk.com/elections/docs/nvra.pdf"
         target="_blank"
         class="btn btn-block btn-outline-primary">Download Form</a>
    </div>
  </div>
  <div class="card flex-item" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-star-o" aria-hidden="true"></i>
        Grace Period
      </h5>
      <p class="card-text">You can register and cast your ballot at your polling place.</p>
      <a href="https://www.champaigncountyclerk.com/elections/grace-period"
         target="_blank"
         class="btn btn-block btn-outline-primary">See Details</a>
    </div>
  </div>
</div>
