<div class="flex">
  <div class="card flex-item">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-pencil" aria-hidden="true"></i>
        &nbsp;&nbsp;Am I Registered?
      </h5>
      <p class="card-text">Your registration status is available online.</p>
      <a href="https://ova.elections.il.gov/RegistrationLookup.aspx"
         target="_blank"
         class="btn btn-block btn-outline-primary">Check Online</a>
    </div>
  </div>
  <div class="card flex-item">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-globe" aria-hidden="true"></i>
        &nbsp;&nbsp;Register Online
      </h5>
      <p class="card-text"><app-event-tracker [date]="1539046800000"></app-event-tracker> days left to register through the Internet.</p>
      <a href="https://ova.elections.il.gov/"
         target="_blank"
         class="btn btn-block btn-outline-primary">Register Online</a>
    </div>
  </div>
  <div class="card flex-item">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-envelope-o" aria-hidden="true"></i>
        &nbsp;&nbsp;Register By Mail
      </h5>
      <p class="card-text"><app-event-tracker [date]="1539046800000"></app-event-tracker> days left to register through the mail.</p>
      <a href="https://champaigncountyclerk.com/elections/docs/nvra.pdf"
         target="_blank"
         class="btn btn-block btn-outline-primary">Download Application</a>
    </div>
  </div>
  <div class="card flex-item">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-star-o" aria-hidden="true"></i>
        &nbsp;&nbsp;Grace Period
      </h5>
      <p class="card-text">You can still register, in person, at certain polling locations.</p>
      <a href="https://www.champaigncountyclerk.com/elections/grace-period"
         target="_blank"
         class="btn btn-block btn-outline-primary">See Details</a>
    </div>
  </div>
</div>
